@model TruckLoadingApp.Models.Route

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Route</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RouteId" />
            <div class="form-group">
                <label asp-for="StartLocation" class="control-label"></label>
                <input asp-for="StartLocation" class="form-control" />
                <span asp-validation-for="StartLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndLocation" class="control-label"></label>
                <input asp-for="EndLocation" class="form-control" />
                <span asp-validation-for="EndLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TruckId" class="control-label"></label>
                <select asp-for="TruckId" class="form-control" asp-items="ViewBag.TruckId"></select>
                <span asp-validation-for="TruckId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
